@import './reset/reset';
@import './mixins/mixin';
@import './variables/variable';


.add-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: $primary-color;
    width: 60px;
    height: 60px;
    border-radius: 999px;
    @include flex(center, center);

    a {
        color: $text-white;
        font-size: 40px;
    }
}

nav {
    z-index: 9999;
    background: $text-white;
    width: 100%;
    position: fixed;

    .nav-wrapper {
        @include flex(center, space-between);
        padding: 20px 0;

        .menu {
            @include flex(center, center);
            gap: 30px;

            li {
                a {
                    font-size: 16px;
                    color: $text-black;

                    &:hover,
                    &.active {
                        color: $primary-color;
                    }
                }
            }
        }

        .menu-icon {
            z-index: 3;
            font-size: 30px;
            display: none;
        }
    }
}

.banner {
    z-index: 2;
    width: 100%;
    min-height: 140vh;
    background: url(../images/server-banner.jpg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @include flex(center, center);

    .banner-wrapper {
        @include flex(center, center);
        gap: 50px;

        .text {
            position: relative;
            color: $text-white;
            @include flex;
            flex-direction: column;
            gap: 20px;

            .tooltip {
                background: $secondary-color;
                position: relative;
                font-size: 40px;
                text-align: center;
                width: 60%;
                left: 200px;
                padding: 10px 20px;

                &::after {
                    content: '';
                    background: linear-gradient(135deg, $secondary-color 0%, $secondary-color 50%, transparent 50%, transparent 100%);
                    transform: rotate(225deg);
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    bottom: -20px;
                    left: 50%;
                }
            }

            h1 {
                font-size: 50px;
                font-weight: 500;
            }

            h2 {
                font-size: 36px;
                font-weight: 300;
            }

            p {
                font-size: 16px;
            }

            .list {
                width: 50%;
                @include grid(2);
                gap: 10px;
            }

            button {
                font-size: 18px;
                background: $secondary-color;
                color: $text-white;
                padding: 10px 30px;

                &:hover {
                    background: #ff4800;
                }
            }
        }

        .image {
            img {
                width: 100%;
            }
        }
    }
}

.services {
    padding: 100px 0;

    .services-wrapper {
        @include flex(center, center);
        flex-direction: column;
        gap: 100px;

        .title {
            @include flex(center, center);
            flex-direction: column;
            gap: 20px;
            text-align: center;

            h1 {
                font-size: 40px;
                font-weight: 300;

                &::after {
                    content: '';
                    width: 30%;
                    display: block;
                    margin: 0 auto;
                    height: 1px;
                    background: $text-black;
                }
            }

            p {
                color: $text-gray;
                width: 80%;
            }
        }

        .card-list {
            @include grid(4);
            gap: 30px;

            .card {
                @include flex(center, center);
                gap: 30px;
                flex-direction: column;

                .icon {
                    width: 60px;
                    height: 60px;

                    img {
                        width: 60px;
                        height: 60px;
                        object-fit: cover;
                        border-radius: 999px;
                    }
                }

                .info {
                    @include flex(center, center);
                    gap: 10px;
                    flex-direction: column;
                    text-align: center;

                    h4 {
                        font-size: 20px;
                    }

                    p {
                        color: $text-gray;
                    }
                }
            }
        }
    }
}

.client {
    padding: 50px 0;
    background: $primary-color;

    .client-wrapper {
        @include flex(center, center);
        flex-direction: column;
        gap: 100px;

        .title {
            @include flex(center, center);
            flex-direction: column;
            gap: 20px;
            text-align: center;

            h1 {
                color: $text-white;
                font-size: 40px;
                font-weight: 300;

                &::after {
                    content: '';
                    width: 30%;
                    display: block;
                    margin: 0 auto;
                    height: 1px;
                    background: $text-white;
                }
            }

            p {
                color: $text-white;
                width: 80%;
            }
        }
    }

    .client-list {
        width: 100%;
        @include grid(4);
        gap: 30px;

        .client-item {
            color: $text-white;
            @include flex(center, center);
            gap: 20px;

            i {
                background: $text-white;
                border-radius: 999px;
                padding: 10px;
                border: solid 5px rgba($color: $primary-color, $alpha: .5);
                color: $primary-color;
                font-size: 40px;
            }

            .info {
                h4 {
                    font-size: 30px;
                }
            }
        }
    }
}

.news {
    padding: 30px 0;

    .news-wrapper {
        @include flex(center, center);
        flex-direction: column;
        gap: 100px;

        .title {
            @include flex(center, center);
            flex-direction: column;
            gap: 20px;
            text-align: center;

            h1 {
                font-size: 40px;
                font-weight: 300;

                &::after {
                    content: '';
                    width: 30%;
                    display: block;
                    margin: 0 auto;
                    height: 1px;
                    background: $text-black;
                }
            }

            p {
                color: $text-gray;
                width: 80%;
            }
        }

        .news-list {
            width: 100%;
            @include grid(3);
            gap: 30px;

            .news-item {
                @include flex(center, center);
                gap: 30px;
                flex-direction: column;
                border: solid 1px rgba($color: $text-gray , $alpha: .5);

                .icon {
                    width: 100%;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }

                    &:hover img {
                        transform: scale(1.1)
                    }
                }

                .info {
                    @include flex(center, center);
                    gap: 10px;
                    flex-direction: column;
                    text-align: center;
                    padding: 20px;

                    h4 {
                        font-size: 20px;
                    }

                    p {
                        color: $text-gray;
                    }
                }
            }
        }
    }
}

footer {
    padding: 30px;

    .footer {
        text-align: center;
        font-size: 20px;
        color: $text-gray;
    }
}

.add {
    min-height: 100vh;
    width: 100%;
    .add-wrapper {
        min-height: 100vh;
        width: 100%;
        @include flex(center, center);
        flex-direction: column;
        gap: 30px;

        form {
            background: $primary-color;
            width: 100%;
            max-width: 600px;
            padding: 30px 50px;
            @include flex(center, center);
            flex-direction: column;
            gap: 30px;

            input[type="file"] {
                display: none;
            }

            label {
                position: relative;
                width: 150px;
                height: 150px;
                i{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba($color: #000000, $alpha: .5);
                    border-radius: 999px;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    @include flex(center, center);
                    color: $text-white;
                    font-size: 50px;
                }

                &:hover i{
                    opacity: 1;
                }

                img {
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                    border-radius: 999px;
                }
            }

            input {
                font-size: 18px;
                width: 100%;
                padding: 10px 20px;
            }
            button{
                padding: 10px 20px;
                background: $secondary-color;
                color: $text-white;
                font-size: 18px;
                margin-left: 20px;
            }
            a{
                color: $text-white;
                padding: 10px 20px;
            }
        }
    }
}

@media(max-width: 1199px) {
    .banner {
        .banner-wrapper {
            .text {
                h1 {
                    font-size: 26px;
                }

                h2 {
                    font-size: 22px;
                }

                .tooltip {
                    font-size: 20px;
                    width: 80%;
                }
            }
        }
    }
}

@media(max-width: 991px) {
    nav {
        .nav-wrapper {
            padding: 10px 0;

            .menu {
                z-index: 2;
                align-items: flex-start;
                padding: 10px 20px;
                position: absolute;
                background: $text-white;
                flex-direction: column;
                width: 100%;
                left: 0;
                top: -500px;
            }

            .menu.active {
                top: 60px;
            }

            .menu-icon {
                display: block;
            }
        }
    }

    .banner {
        .banner-wrapper {
            flex-direction: column;

            .text {
                padding-top: 50px;

                .tooltip {
                    left: 0;
                    width: 100%
                }
            }
        }
    }

    .services {
        .services-wrapper {
            .card-list {
                @include grid(3);
            }
        }
    }

    .client {
        .client-wrapper {
            .client-list {
                @include grid(2);
            }
        }
    }

    .news {
        .news-wrapper {
            .news-list {
                @include grid(2);
            }
        }
    }
}

@media(max-width: 767px) {
    .services {
        .services-wrapper {
            .card-list {
                @include grid(2);
            }
        }
    }
}

@media(max-width: 575px) {
    .services {
        .services-wrapper {
            .card-list {
                @include grid(1);
            }
        }
    }

    .client {
        .client-wrapper {
            .client-list {
                @include grid(1);
            }
        }
    }

    .news {
        .news-wrapper {
            .news-list {
                @include grid(1);
            }
        }
    }
}